[run]
source = .
omit =
    tests/*
    */__init__.py
    archive/*
    micro_v/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
show_missing = true
